<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="wrap-logo">
                    <div class="logo"></div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Dropdown
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Dropdown
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <nav>
                    <ul>
                        <li>Portfolio</li>
                        <li>Service</li>
                        <li>Staff</li>
                        <li>Articles</li>
                        <li>Contact</li>
                    </ul>
                    <div>
                        <span>Quiklinks</span>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Dropdown
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div>
                    </div>
                </nav>
                <div class="search">
                    <input>
                    <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Dropdown
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                    <ul class="socials">
                        <li>
                            <i></i>
                            <span>Twitter</span>
                        </li>
                        <li>
                            <i></i>
                            <span>Facebook</span>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="slider1">
                    <div class="img">
                        <p>
                            
                        </p>
                    </div>
                    <div class="text">
                        <h3></h3>
                        <p></p>
                        <i></i>
                        <i></i><span>time</span>
                    </div>
                </div>
                <div class="slider2">
                    <div class="item">
                        <div class="img"><i></i></div>
                        <div class="descript">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><i></i></div>
                        <div class="descript">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><i></i></div>
                        <div class="descript">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><i></i></div>
                        <div class="descript">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="left">
                <div class="archive">
                    <article class="article-lg">                    
                    </article>
                    <article class="article-lg active">                    
                    </article>
                    <article class="article-md">                    
                    </article>
                    <article class="article-md">                    
                    </article>
                    <article class="article-sm">                    
                    </article>
                    <article class="article-sm">                    
                    </article>
                    <article class="article-sm">                    
                    </article>
                    <article class="article-sm">                    
                    </article>
                </div>
                <div class="readmore"></div>
                <div class="web-site-panel"></div>
                <div class="nice-text"></div>
                <div class="top-article-preview-img"></div>
                <div class="top-article-preview"></div>
            </aside>
            <aside class="right"></aside>
            <footer>
                <div class="archive-second">
                    <article class="top"></article>
                    <article class="text-only"></article>
                    <article class="text-only"></article>
                </div>
                <ul class="menu-right-side">
                    <li>About Us</li>
                    <li>How to</li>
                    <li>Write for us</li>
                    <li>Video testimonials</li>
                </ul>
                <div class="statistic">
                    
                </div>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
